In [14]:
# Initialisation Cell
# You should always put imported modules here
import numpy as np
import pandas as pd
import seaborn as sns
import numpy.testing as npt
import pandas.testing as pdt
from matplotlib import pyplot as plt

np.set_printoptions(suppress=True, precision=7)

In [15]:
df = pd.read_stata('elom.dta')

In [16]:
display(df)

,csid,Province,SchoolID,RuralOrUrbanDistance,RuralOrUrbanCensus,Quintile,CompositeQuintileGroup,District,Gender,Age,...,ell,total,ChildObs1,ChildObs2,ChildObs3,ChildObs4,ChildObs,SelfCare,SocialRelations,EmotionalReadiness
0,1_0_3,ec,1,Urban,Rural,3,Quintile 2 & 3,mthata,Male,59.311474,...,4.44,34.860001,Sometimes,Sometimes,Sometimes,Almost never,3,3,16,8
1,1_1_2,ec,1,Urban,Rural,3,Quintile 2 & 3,mthata,Female,58.950821,...,11.98,43.740002,Sometimes,Sometimes,Sometimes,Sometimes,4,2,19,7
2,1_0_4,ec,1,Urban,Rural,3,Quintile 2 & 3,mthata,Male,58.688526,...,5.91,28.400000,Sometimes,Sometimes,Often,Sometimes,5,3,20,10
3,1_1_10,ec,1,Urban,Rural,3,Quintile 2 & 3,mthata,Female,58.491802,...,5.91,34.049999,Sometimes,Sometimes,Almost never,Sometimes,3,3,20,11
4,1_0_11,ec,1,Urban,Rural,3,Quintile 2 & 3,mthata,Male,57.934425,...,1.25,8.600000,Almost never,Almost never,Almost never,Almost always,3,3,10,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2050,1474_1_10,kzn,1474,Urban,Rural,1,Quintile 1,ilembe,Female,61.278690,...,15.36,72.580002,Almost always,Almost always,Almost always,Almost always,12,4,20,11
2051,1474_0_6,kzn,1474,Urban,Rural,1,Quintile 1,ilembe,Male,61.147541,...,10.03,48.290001,Sometimes,Sometimes,Sometimes,Sometimes,4,4,15,7
2052,1474_0_8,kzn,1474,Urban,Rural,1,Quintile 1,ilembe,Male,60.327869,...,3.72,40.650002,Sometimes,Sometimes,Sometimes,Sometimes,4,3,18,4
2053,1474_0_10,kzn,1474,Urban,Rural,1,Quintile 1,ilembe,Male,60.262295,...,9.70,38.470001,Sometimes,Often,Sometimes,Often,6,4,19,11
2054,1474_1_12,kzn,1474,Urban,Rural,1,Quintile 1,ilembe,Female,71.016396,...,13.69,43.340000,Often,Often,Often,Often,8,4,17,8

In [17]:
print(df.info(),
      '\n___________duplicated()___________\n', df.duplicated().any(), 
      '\n___________isnull()___________\n', df.isnull().sum()
      )

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2055 entries, 0 to 2054
Data columns (total 54 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   csid                    2055 non-null   object
 1   Province                2055 non-null   category
 2   SchoolID                2055 non-null   int16
 3   RuralOrUrbanDistance    2055 non-null   category
 4   RuralOrUrbanCensus      2055 non-null   category
 5   Quintile                2055 non-null   int8
 6   CompositeQuintileGroup  2055 non-null   category
 7   District                2055 non-null   category
 8   Gender                  2055 non-null   category
 9   Age                     2055 non-null   float64
 10  AgeGroup                2055 non-null   category
 11  HomeLanguage            2055 non-null   category
 12  AssesLanguage           2055 non-null   category
 13  Height                  2055 non-null   float64
 14  hfa                     1679 non-null   float64
 15  ChildSupportGrant       2055 non-null   category
 16  ProgrammeYear           2055 non-null   category
 17  Item1                   2055 non-null   float64
 18  Item2                   2055 non-null   float64
 19  Item3                   2055 non-null   float64
 20  Item4                   2055 non-null   float64
 21  gmd                     2055 non-null   float64
 22  Item5                   2055 non-null   float64
 23  Item6                   2055 non-null   float64
 24  Item7                   2055 non-null   float64
 25  Item8                   2055 non-null   float64
 26  fmcvmi                  2055 non-null   float64
 27  Item9                   2055 non-null   float64
 28  Item10                  2055 non-null   float64
 29  Item11                  2055 non-null   float64
 30  Item12                  2055 non-null   float64
 31  Item13                  2055 non-null   float64
 32  enm                     2055 non-null   float64
 33  Item14                  2055 non-null   float64
 34  Item15                  2055 non-null   float64
 35  Item16                  2055 non-null   float64
 36  Item17                  2055 non-null   float64
 37  cef                     2055 non-null   float64
 38  Item18                  2055 non-null   float64
 39  Item19                  2055 non-null   float64
 40  Item20                  2055 non-null   float64
 41  Item21                  2055 non-null   float64
 42  Item22                  2055 non-null   float64
 43  Item23                  2055 non-null   float64
 44  ell                     2055 non-null   float64
 45  total                   2055 non-null   float64
 46  ChildObs1               2055 non-null   category
 47  ChildObs2               2055 non-null   category
 48  ChildObs3               2055 non-null   category
 49  ChildObs4               2055 non-null   category
 50  ChildObs                2055 non-null   int8
 51  SelfCare                2055 non-null   int8
 52  SocialRelations         2055 non-null   int8
 53  EmotionalReadiness      2055 non-null   int8
dtypes: category(15), float64(32), int16(1), int8(5), object(1)
memory usage: 592.4+ KB
None
___________duplicated()___________
 False
___________isnull()___________
 csid                        0
Province                    0
SchoolID                    0
RuralOrUrbanDistance        0
RuralOrUrbanCensus          0
Quintile                    0
CompositeQuintileGroup      0
District                    0
Gender                      0
Age                         0
AgeGroup                    0
HomeLanguage                0
AssesLanguage               0
Height                      0
hfa                       376
ChildSupportGrant           0
ProgrammeYear               0
Item1                       0
Item2                       0
Item3                       0
Item4                       0
gmd                         0
Item5                       0
Item6                       0
Item7                       0
Item8                       0
fmcvmi                      0
Item9                       0
Item10                      0
Item11                      0
Item12                      0
Item13                      0
enm                         0
Item14                      0
Item15                      0
Item16                      0
Item17                      0
cef                         0
Item18                      0
Item19                      0
Item20                      0
Item21                      0
Item22                      0
Item23                      0
ell                         0
total                       0
ChildObs1                   0
ChildObs2                   0
ChildObs3                   0
ChildObs4                   0
ChildObs                    0
SelfCare                    0
SocialRelations             0
EmotionalReadiness          0
dtype: int64